/* global style */
body {
  margin: 0;
  overflow-x: hidden;
  background-color: #e3e5e8;
}
h1, h2, h3, h4, h5, h6, .title {
  /* font-family: 'Fredoka One'; */
  font-family: Anton;
}
p, span, a, button {
  font-family: Nunito;
  font-size: 16px;
  color: grey

}
.primary {
  background-color: #F18E36;
  border: 1px #F18E36 solid;
}
.secondary {
  background-color: #FEC701;
  border: 1px #FEC701 solid;
}
.alt {
  background-color: #ffffff;
  border: 1px #F18E36 solid;
}
.boton {
  padding: 6px 26px;
  border-radius: 20px;
  min-width: 100px;
  box-shadow: 2px 2px 2px #babab8;
}
.btn:hover {
  cursor: pointer;
}
a {
  text-decoration: none;
  color: #000000;
}
a:hover {
  color: #000000;
}
.center {
  text-align: center;
  margin: 0 auto;
}
/* Ripple effect */
.ripple, .ripple2, .ripple3 {
  background-position: center;
  transition: background 0.8s;
}
.ripple:hover {
  background: #F18E36 radial-gradient(circle, transparent 1%, #F18E36 1%) center/15000%;
}
.ripple:active {
  background-color: #eea96c;
  background-size: 100%;
  transition: background 0s;
}
.ripple2:hover {
  background: #FEC701 radial-gradient(circle, transparent 1%, #FEC701 1%) center/15000%;
}
.ripple2:active {
  background-color: #ffe176;
  background-size: 100%;
  transition: background 0s;
}
.ripple3:hover {
  background: #ffffff radial-gradient(circle, transparent 1%, #ffffff 1%) center/15000%;
}
.ripple3:active {
  background-color: #e1e1e1;
  background-size: 100%;
  transition: background 0s;
}

